<h4 class="ui center aligned medium icon header">
  <i class="circular orange user tiny icon"></i>
</h4>

<div class="ui placeholder segment">
  <div class="ui column very relaxed stackable grid">
    <div class="column">

      <%= form_with(model: user, local: true, url: signup_path, class: "ui form") do |f| %>
        <div class="field">
          <%= f.label :username, t(:username).capitalize %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: t(:username).capitalize %>
            <i class="user icon"></i>
          </div>
        </div>

        <div class="field">
          <%= f.label :email, t(:email).capitalize %>
          <div class="ui left icon input">
            <%= f.text_field :email, placeholder: t(:email).capitalize %>
            <i class="user icon"></i>
          </div>
        </div>


        <div class="field">
          <%= f.label :password, t(:password).capitalize %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: t(:password).capitalize %>
            <i class="lock icon"></i>
          </div>
        </div>


        <%= f.submit t(:log_in).capitalize, class: "ui orange submit button" %>
      <% end %>

    </div>
    
  </div>
</div>
