<div class="ui small inverted menu">
  <div class="ui container">

    <%= link_to(t(:chatroom).capitalize, root_path, class:'item') %>
    <%= link_to(t(:messages).capitalize, root_path, class:'item') %>
    
    <div class="right menu">
      <div class="ui dropdown item">
        <%= t(:account).capitalize%> <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to(t(:log_out).capitalize, root_path, class:'item') %>
          <%= link_to(t(:log_in).capitalize, login_path, class:'item') %>
          <%= link_to(t(:sign_up).capitalize, root_path, class:'item') %>
        </div>
      </div>
      <div class="item">
          <div class="ui orange button">Sign Up</div>
      </div>
    </div>
  </div>
</div>