<div class="ui small inverted menu">
  <div class="ui container">
    <a class="item">
      <%= t(:chatroom).capitalize%>
    </a>
    <a class="item">
      <%= t(:messages).capitalize%>
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <%= t(:account).capitalize%> <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><%= t(:log_out).capitalize%></a>
          <a class="item"><%= t(:log_in).capitalize%></a>
          <a class="item"><%= t(:sign_up).capitalize%></a>
        </div>
      </div>
      <div class="item">
          <div class="ui orange button">Sign Up</div>
      </div>
    </div>
  </div>
</div>