<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:app_title).capitalize %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless flash[:alert].nil?%>
      <%= flash[:alert] %>
    <% end %>
    <% unless flash[:notice].nil?%>
      <%= flash[:notice] %>
    <% end %>

    <%= render partial: './shared/menu' %>

    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
